.user-manga-page-detail{
    padding: 40px 30px;
    display: flex;
}
.image-manga-detail-leftside{
    padding-bottom: 20px;
}
.image-manga-detail-leftside img{
    width: 150px;
    height: auto;
}
.edit-manga{
    background-color: white;
    color: #4b4d4e;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 5px;
}
.manga-detail-rightside{
    line-height: 20px;
    padding-left: 30px;
}
.manga-detail-rightside h3{
    font-size: 20px;
    font-weight: bold;
}
.manga-detail-rightside ul{
    padding-top: 30px;
    padding-left: 0px;
}
.manga-detail-rightside li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.manga-detail-rightside p{
    color: #555555; 
    margin-bottom: 0px;
}