.list-chap{
    padding-top: 15px;
    padding-left: 15px;
}
.list-chap-title{
    border-bottom: 1px solid #d8d8d8;
}
.list-chap-title span{
    font-size: 20px;
    color: #007bff;
    font-weight: 500;
}
.list-chap-content ul{
    overflow: hidden;
    padding: 0px;
}
.list-chap-content p{
    margin-bottom: 0px;
    color: #555555;
}
.list-chap-content li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-chap-content a{
    color: #555555;
}
.chap-border{
    border-bottom: 1px dashed #d8d8d8;
}