.signin{
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.signin a{
    text-decoration: none;
    color: black;
}
.signin p{
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.signin-content{
    width: 500px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
}